.fs-5 {
  margin-top: 1rem;
}
.basketWrapper {
  display: flex;
  align-items: flex-start;
  width: 75%;
  margin: auto;
  height: 100vh !important;
  background-color: rgb(255, 255, 255);
}

.ItemPrice{
  white-space: nowrap;
}
.cardText{
  
  text-wrap-style:pretty !important;
}
.basketCont{
  margin-top: 5rem;
  display: flex !important;
  justify-content: space-between !important;
  height: 100vh;
  width: 100% !important;
}
.itemCont{
  white-space: nowrap !important;
  margin-top: 3rem;
 
  border-radius: 20px;
  display: flex !important;
  justify-content: space-between !important;

}
.cardInfo{
  margin-top: 3rem;
}

.btn {
  background-color: rgb(32, 226, 32);
  border-color: rgb(32, 226, 32);
  color: white;
}
.btn:hover {
  background-color: rgb(32, 226, 32);
  border-color: rgb(32, 226, 32);
}
.empty-cart {
  text-align: center;
  height: 100vh;
  font-size: 1.2em;
  margin-top: 2em;
  color: #888; /* Серый цвет */
}
.quantityDiv{
  margin-left: 1rem;
  font-size: 1rem;
}


@media only screen and (max-width: 991px) {
  .basketWrapper{
    height: auto !important;
  }
  .ItemTitle{
    font-size: 1rem;
  }
  .ItemPrice{
    font-size: 0.8rem !important;
  }
  .removeButton{
    font-size: 0.6rem;
  }
  
}
@media only screen and (max-width: 768px) {
  .ItemPrice{
    font-size: 0.8rem !important;
  }
  .removeButton{
    font-size: 0.5rem;
  }
  .ItemTitle{
    font-size: 0.8rem;
  }
 
}
@media only screen and (max-width: 992px) {
  
}
@media only screen and (max-width: 640px) {
  .quantityDiv{
    padding-left: 1rem;
    font-size: 0.8rem;
  }
  .quantityDiv Button{
   padding: 2px;
  }
}