.authCardWrapper{
    width: 75% !important;
    margin: auto;
    height: 100vh!important;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(255, 255, 255) !important;
}
.authCard{
    margin-bottom: 5rem;
}