.NavBarContent {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  height: 3.45rem;
  border-width: 2px;
  border-radius: 10px;
  color: white;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

a:hover {
  color:inherit; 
  text-decoration:none; 
  cursor:pointer;  
}

.NavBarTitle {
  color: white !important;
  padding-top: 12px !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

h5{
  align-self: center;
  white-space: nowrap;
  margin-bottom: 0.2rem !important;
  margin-right: 1rem;
}

.navbar-toggler{
  margin-right: 1rem !important;
}




.navBarLogo {
  position: relative;
  height: 70px;
  width: 70px;
  padding: 0.3rem;
  border-radius: 10px;
  margin-left: 1rem;
  background-size: contain !important; 
}
.CatalogImage {
  width: 2rem;
  height: 2rem;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

.ShoppingCartImage {
  width: 2rem;
  height: 2rem;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
.UserImage {
  width: 2rem;
  height: 2rem;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}


.SearchImage {
  width: 75%;
  height: 75%;
  margin: 0.05rem;
  padding: 0.05rem;
  border-radius: 10px;
  background-color: transparent;
  overflow: hidden;
}

.Search {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 1rem;
}

.SearchLine {
  width: 100% ;
  height: 3.45rem;
  margin-right:0rem !important;
  margin-left: 1rem !important;
  border-radius: 10px !important;
  border-color: rgb(65, 211, 65) !important;
}

.NavContent {
  display: flex !important;
  background-color: rgb(65, 211, 65);
  border-radius: 10px;
  color: white;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0  !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  overflow: auto;
}

.navBarContainer {
  display: flex !important;
  overflow: hidden !important;
  background-color: rgba(189, 189, 189, 0.245) !important;
  justify-content: space-around !important;
  font-size: 0.85rem;
  overflow: hidden;
}



@media only screen and (max-width: 640px) {
  .navBarContainer{
    max-width: 640px;
    font-size: 0.7rem;
  }
  .NavBarContent{
    font-size: 0.75rem !important;
  }
  
}
@media only screen and (max-width: 1200px) {
  .navBarContainer{
    max-width: 1200px;
    font-size: 1rem;
  }

  .NavBarTitle{
    font-size: 0.4rem !important;
  }
  .SearchButton{
    width: 40% !important;
  }
  
}


@media only screen and (max-width: 1024px) {
  .navBarContainer{
    max-width: 1024px;
    font-size: 1rem;
  }
  .NavBarContent{
    font-size: 1rem;
  }
  .NavContent{
    height:70% !important;
  }
  
}


@media only screen and (max-width: 1280px) {
  .navBarContainer{
    max-width: 1280px;
    font-size: 1rem !important;
  }
  .NavBarContent{
    font-size: 1rem !important;
  }
  
}
@media only screen and (max-width: 1536px) {
  .navBarContainer{
    max-width: 1536px;
    font-size: 1.15rem;
  }
  .NavBarContent{
    font-size: 1.15rem;
  }
  
}
@media only screen and (max-width: 992px) {
  .navBarContainer{
    max-width: 992px;
    font-size: 0.7rem;
  }
  .NavBarContent{
    display: flex;
    justify-content: center !important;
    font-size: 1rem !important;
    margin-bottom: 0.5rem !important;
    width: 100% !important;
  }
  #navbarScroll{
    margin: 1rem 0 !important;
    align-items: flex-start;
    justify-content: flex-start;

  }
  .SearchLine{
    margin: 0 !important;
    margin-left: 0 ;

  }
  .NavContent{
    display: flex !important;
    justify-content: space-between !important;
  }
  .NavBarTitle{
    display: flex !important;
    justify-self: flex-end !important;
  }
  .navbar-toggler{
    display: flex !important;
    justify-self: flex-end !important;
  }
}