.ShopContainer {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  margin: 7rem 0;
  justify-content: flex-start;
  align-items: baseline;
}

.TextDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  background-color: rgba(189, 189, 189, 0.245);
  border-radius: 10px;
}

.Greetings {
  color: white;
  background-color: rgb(65, 211, 65);
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem 0;
}
.Block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.AboutUsBlock {
  display: flex;
  justify-content: space-between;
  border-top: 8px solid;
  border-bottom: 8px solid;
  padding-right: 0px !important;
  border-color: rgb(65, 211, 65);
  border-bottom-color: rgba(142, 142, 142, 0.785);
  border-radius: 6px;
  border-right: 0px;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.AboutUs {
  margin: 1.5rem 0;
  width: 45%;
  font-size: 1.5rem;
}

.AboutUs strong {
  color: rgb(65, 211, 65);
}

.ReviewBlock {
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ReviewsTitle {
  margin: 2rem 0;

}

.ReviewsTitle strong {
  color: rgb(65, 211, 65);
}
.MusImage {
  width: 50%;
  height: 100%;
  margin: 1.5rem 0;
  border-radius: 7px;
}
.NoteImage {
  width: 4rem;
  height: 4rem;
  margin: 5px;
  padding-bottom: 10px;
}

.smile{
  width: 4rem;
  height: 4rem;
  margin: 5px;
  padding-bottom: 10px;

}

.FireImage {
  width: 4rem;
  height: 4rem;
  margin: 5px;
  padding-bottom: 10px;
}

.GuitarImage {
  width: 4rem;
  height: 4rem;
  margin: 5px;
  padding-bottom: 10px;
}
.Widgets {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
  border-top: 8px solid;
  border-bottom: 8px solid;
  border-radius: 10px;
  border-top-color: rgb(65, 211, 65);
  border-bottom-color: rgba(142,142,142, 0.785);
}
.RewiewsWrapper{
  width: 50%;
  margin: 1rem 0;
}

.Reviews {
  margin-top: 1rem;
}

.Block h2 {
  font-size: 2.3rem;
  margin: 0;
  color: rgba(36, 36, 36, 0.903);
}

.CardsContainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 1rem;
  border-top: 8px solid;
  border-bottom: 8px solid;
  border-color: rgb(65, 211, 65);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 2000px) {
  h2 {
    font-size: 1.7rem !important;
  }
  .AboutUs {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 1400px) {
  h2 {
    font-size: 1.5rem !important;
  }
  .AboutUs {
    font-size: 1.3rem !important;
  }
}
@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 1.3rem !important;
  }
  .AboutUs {
    font-size: 1.1rem !important;
  }
}

@media only screen and (max-width: 640px) {
  h2 {
    font-size: 1rem !important;
  }
  .AboutUs {
    font-size: 0.85rem !important;
  }
}
