.Caption {
  display: flex !important;

  padding: 0px;
  width: 860px;
  height: 40px;
  border: 1px solid;
  border-color: rgb(65, 211, 65) !important;
  border-radius: 10px !important;
  align-items: center !important;
  justify-content: center !important;
  background: rgb(65, 211, 65);
  background: rgb(65, 211, 65);
  background: radial-gradient(
    circle,
    rgba(65, 211, 65, 0.8100490196078431) 0%,
    rgba(253, 253, 253, 1) 90%
  );
}
#CaptionText {
  color: rgb(238, 238, 238) !important;
  font-family: Montserrat-bold !important;
  font-weight: bold;
}
