@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat-VariableFont_wght.ttf')
}
.TypeBar {
  display: flex !important;
  justify-content: stretch !important;
  align-items: flex-start !important;
  width: 100%;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  font-size: 1rem;
  flex-wrap: wrap !important;
  flex: 0 0 0 !important;
}

.ProductType {
  font-family:Montserrat;
  color: black;
  background-color: rgba(0, 0, 0, 0.026) !important;
  width: auto !important;
  margin: 0.2rem;
  padding: 0.5rem !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border: 1px solid rgba(8, 8, 8, 0.801) !important;
  border-radius: 10px !important;
}
@media only screen and (max-width: 2000px) {
  .ProductType{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1400px) {
  .ProductType{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .ProductType{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 764px) {
  .ProductType{
    font-size: 0.68rem;
  }
}
