.BrandBarContainer {
  border-top: 8px solid rgb(32, 226, 32);
  border-bottom: 8px solid rgba(142, 142, 142, 0.785);
  border-radius: 6px;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.BrandBarSlide {
  display: flex;
  animation: 30s slide infinite linear;
}

.BrandBarContainer:hover .BrandBarSlide {
  animation-play-state: paused;
}

.BrandLogo {
  flex: 0 0 auto;
  width: 20%;
  max-width: 200px;
  min-width: 100px;
  padding: 1rem;
}

.BrandBarContainer::before,
.BrandBarContainer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.BrandBarContainer::before {
  left: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.BrandBarContainer::after {
  right: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

@media (max-width: 1024px) {
  .BrandLogo {
    width: 25%;
  }

  .BrandBarContainer::before,
  .BrandBarContainer::after {
    width: 75px;
  }
}

@media (max-width: 768px) {
  .BrandLogo {
    width: 33.33%;
  }

  .BrandBarContainer::before,
  .BrandBarContainer::after {
    width: 50px;
  }
}

@media (max-width: 480px) {
  .BrandLogo {
    width: 50%;
  }

  .BrandBarContainer::before,
  .BrandBarContainer::after {
    width: 25px;
  }
}
