.footer-wrapper {
  background-color: #f8f9fa;
  padding: 2rem 0;
  margin-top: auto;
  height: auto !important;
}

.footer-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.FooterContainer{
    margin: auto;
    margin-left: 4.5rem;
}
.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-bottom: 0.5rem;
}

.footer-list a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-list a:hover {
  color: #007bff;
}

.payment-methods {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.payment-methods li {
  width: 60px;
}

.payment-methods img {
  width: 100%;
  height: auto;
}


.media-links {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
}


.media-links li {
  width: 40px;
}

.media-links img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.media-links img:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .footer-wrapper {
    text-align: center;
  }

  .payment-methods,
  .media-links {
    justify-content: center;
  }
  .FooterContainer{
    margin: 0;
  }
}
